:global(.row:not(.selected) .cellStyleTextAlignLeft) {
    textAlign: important left;
    text-align: important left;
    align: important left;
}
:global(.row:not(.selected) .cellStyleTextAlignCenter) {
    textAlign: important center;
    text-align: important center;
    align: important center;
}
:global(.row:not(.selected) .cellStyleTextAlignRight) {
    textAlign: important right;
    text-align: important right;
    align: important right;
}


:global(.wx-willow-theme) {
    --wx-table-select-background: #eaedf5;
    --wx-table-select-focus-background: #ebedf3;
    --wx-table-select-color: var(--wx-color-font);
    --wx-table-border: 1px solid #e6e6e6;
    --wx-table-select-border: inset 3px 0 var(--wx-color-primary);
    --wx-table-header-border: var(--wx-table-border);
    --wx-table-header-cell-border: var(--wx-table-border);
    --wx-table-footer-cell-border: var(--wx-table-border);
    --wx-table-cell-border: var(--wx-table-border);
    --wx-header-font-weight: 600;
    --wx-table-header-background: #f2f3f7;
    --wx-table-fixed-column-right-border: 3px solid #e6e6e6;
    --wx-table-editor-dropdown-border: var(--wx-table-border);
    --wx-table-editor-dropdown-shadow: 0px 4px 20px 0px rgba(44, 47, 60, 0.12);
}
:global(.wx-willow-theme .menu) {
    box-shadow: 0px 4px 20px 0px rgba(44, 47, 60, 0.12);
    outline: 1px solid #e6e6e6;
}

/* =================================================================================== */

:global(.wx-willow-dark-theme) {
    --wx-table-select-background: #384047;
    --wx-table-select-focus-background: #465059;
    --wx-table-select-color: var(--wx-color-font);
    --wx-table-border: var(--wx-border);
    --wx-table-select-border: inset 3px 0 var(--wx-color-primary);
    --wx-table-header-border: var(--wx-table-border);
    --wx-table-header-cell-border: var(--wx-table-border);
    --wx-table-footer-cell-border: var(--wx-table-border);
    --wx-table-cell-border: var(--wx-table-border);
    --wx-header-font-weight: 600;
    --wx-table-header-background: #20262b;
    --wx-table-fixed-column-right-border: 3px solid var(--wx-background-alt);
    --wx-table-editor-dropdown-border: var(--wx-border);
    --wx-table-editor-dropdown-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.6);
}
:global(.wx-willow-dark-theme .menu) {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.6);
    outline: var(--wx-border);
}

/*===================================================================================*/

:global(.wx-material-theme) {
    --wx-table-select-background: rgba(0, 0, 0, 0.06);
    --wx-table-select-focus-background: rgba(213, 230, 255, 0.6);
    --wx-table-select-color: var(--wx-color-font);
    --wx-table-border: 1px solid #dfdfdf;
    --wx-table-select-border: none;
    --wx-table-header-border: var(--wx-table-border);
    --wx-table-header-cell-border: var(--wx-table-border);
    --wx-table-footer-cell-border: var(--wx-table-border);
    --wx-table-cell-border: var(--wx-table-border);
    --wx-header-font-weight: 500;
    --wx-table-header-background: #fafafb;
    --wx-table-fixed-column-right-border: 3px solid #dfdfdf;
    --wx-table-editor-dropdown-border: none;
    --wx-table-editor-dropdown-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
:global(.wx-material-theme .menu) {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}
